{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%  set base_url = url('<front>')  %}
<div id="fh5co-wrapper">
   <div id="fh5co-page">
   {{ page.tabs }}
      <!-- Header -->
      <div id="fh5co-header">
         <header id="fh5co-header-section">
            <div class="container">
               <div class="nav-header">
                  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                  {{ page.site_branding }}
                  <!-- START #fh5co-menu-wrap -->
                   {{ page.primary_menu }}
               </div>
            </div>
         </header>
      </div>
      <!-- Header End -->

      <!-- Banner -->
        <div class="fh5co-hero fh5co-hero-2">
          <div class="fh5co-overlay"></div>
          <div class="fh5co-cover fh5co-cover_2 text-center" data-stellar-background-ratio="0.5" style="background-image: url({{ base_url }}/themes/yg_glow/images/cover_bg_1.jpg);">
            <div class="desc animate-box">
              <h2>{{ page['#title']|render|striptags }}</h2>
            </div>
          </div>
        </div>
      <!-- Banner End -->

      <!-- Access Denied Found -->
      <section id="not-found-section" class="text-center">
        <div class="container">               
          <div class="row"> 
            <div class="not-found-body" >
              <div class="not-title" >
                <h1>403</h1>
                <h2>Access Denied</h2> 
              </div>  
                <h2>Access To The Webpage Was Denied. </h2>
                <p>You are not authorized to access this page. You must login to view this page.</p>      
                <a href="{{ base_url }}" class="btn btn-custom"> Go Home </a>      
            </div>
          </div>          
        </div>    
      </section>
      <!-- Access Denied End -->
      
      <!-- Footer --> 
      <footer>
         <div id="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                     <h3>{% if about_title|render is not empty %}{{ about_title }}{% endif %}</h3>
                     {% if about_desc %}
                       {% autoescape 'html' %}
                         {{ about_desc|raw }}
                       {% endautoescape %}
                     {% endif %}
                  </div>
                  <div class="col-md-3 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                    {{ page.latest_blog }}
                  </div>
                  <div class="col-md-3 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                     {{ page.footer_menu }}
                  </div>
                  <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                     <h3>{% if social_title|render is not empty %}{{ social_title }}{% endif %}</h3>
                     <ul class="fh5co-social">
                        {% if twitter_url|render is not empty %}
                        <li><a href="{{ twitter_url }}"><i class="icon-twitter"></i> Twitter</a></li>
                        {% endif %}
                        {% if facebook_url|render is not empty %}
                        <li><a href="{{ facebook_url }}"><i class="icon-facebook"></i> Facebook</a></li>
                        {% endif %}
                        {% if youtube_url|render is not empty %}
                        <li><a href="{{ youtube_url }}"><i class="icon-youtube-play"></i> Youtube</a></li>
                        {% endif %}
                        {% if instagram_url|render is not empty %}
                         <li><a href="{{ instagram_url }}"><i class="icon-instagram"></i> Instagram</a></li>
                        {% endif %}
                     </ul>
                  </div>
               </div>
            </div>
            <div class="fh5co-copyright text-center">
                <p><span> &copy; 2021 <i>YG Glow</i> All Rights Reserved.</span></p>
            </div>
         </div>
      </footer>
     <!-- Footer End --> 

   </div>
   <!-- END fh5co-page -->
</div>
<!-- END fh5co-wrapper -->
